/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 0;
	padding: 20px;
	font: 18px/1.5 sans-serif;
	background-color: white;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h1 {
	font-size: 36px;
}

img {
	margin: 30px 0;
}

li {
	margin-bottom: 0.5em;
}

.napoveda {
	margin-top: 60px;
	padding: 20px;
	border: 1px dashed tomato;
	background-color: #f5f5f5;
}

.ctverecek {
	position: absolute;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background-color: yellow;
	border: 1px solid black;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
	transition: all 1s;
}

/* ---------------------------------------------- */

.zoo {
	overflow: hidden;
	margin-top: 250px;
	position: relative;
	background: white url("obrazky/pozadi.png") repeat;
	height: 600px;
}

.zoo h1 {
	margin: 30px;
}

#plot1,
#plot2 {
	position: absolute;
	left: 300px;
}

#plot1 {
	top: 200px;
	z-index: 10;
}

#plot2 {
	top: 360px;
	z-index: 100;
}

#jednorozec {
	width: 200px;
	position: absolute;
	z-index: 50;
	transition: all 2s;
}

/* ------------------------ */

.aktivni {
	background-color: tomato;
	transform: translateX(200px) rotate(-45deg);
	border-radius: 20px 50%;
}